{% extends 'base.html' %}

{% block title %} {{movie.title}} {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
                
            <article class="mb-5">
                <header class="mb-4">
                    <h1 class="mb-1">
                        <span class="display-4 fw-bolder">{{ movie.title }} </span>
                    </h1>
                    <div class="text-muted fst-italic mb-2">Watched on {{ movie.watched}}</div>
                </header>
                <section class="mb-5">
                    <p class="fs-5 mb-4">
                        {{ movie.comments|safe }}
                    </p>
                </section>
            </article>

            <img src="{{movie.movie_poster.url}}" alt="{{movie.movie_poster.url}}" width="500">




        </div>
    </div>
</div>

{% endblock %}