{% extends 'base.html' %}
{% load static %}

{% block title %} {{movie.title}} {% endblock %}

{% block content %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 ">
            <div class="col-md-4">
                {% if movie.movie_poster %}
                <img src="{{movie.movie_poster.url}}" alt="{{movie.title}}" class="card-img-top mb-5 mb-md-0">
                {% else %}
                <img src="{% static 'films/images/empty_movie_poster.jpg' %}" alt="{{movie.title}}" class="card-img-top mb-5 mb-md-0">
                {% endif %}

            </div>
            <div class="col-md-8">
                <div class="small fst-italic mb-1">Watched: {{movie.watched}}</div>
                <h1 class="display-5 fw-bolder">{{ movie.title }}</h1>
                <p class="fs-5">{{ movie.comments }}</p>
                <div class="d-flex">
                    {% for cast_member in movie.cast.all %}
                        <a href="{% url 'cast-member-detail' cast_member.slug %}" class="btn btn-outline-dark flex-shrink-0">{{ cast_member.name }}</a>
                    {% endfor %}
                </div>
                    
            </div>
        </div>
    </div>
</section>

{% endblock %}